#
bqplot==0.12.19
ipykernel==5.3.2
ipympl==0.5.8
ipython==7.19.0
ipywidgets==7.5.1
jupyter==1.0.0
jupyterlab==2.2.9
matplotlib==3.3.1
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.5
numpy==1.19.4
pandas==1.0.5
scipy==1.5.1
virtualenv==20.1.0
widgetsnbextension==3.5.1
#