
# Jupyter
jupyterlab
nodejs
npm
ipython
jupyter
jupyter-contrib-nbextensions
widgetsnbextension
nbconvert
nbformat
notebook

# Python Kernel
ipykernel
ipywidgets
ipyleaflet
bqplot
matplotlib
numpy
pandas
scipy
virtualenv
#hide-code==0.5.5
ipympl
